<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/archiverHeader.ejs") %>
</head>

<body>

  <%- include ("../partials/archiverNav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Data Archiver</h1>
    <p>This is a sample Node application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to archive data from SF to the Heroku platform.</p>
    
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  
</div>
</body>
</html>
